@import "tailwindcss";

.shadowbg{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height:100%;
    position: fixed;
    display: none;

    /* width-100%;
     h-full fixed hidden */
}
.shadowactivebg{
    display: block;
}
.navbar{
    background-color:rgba(248, 250, 248, 0.5);
    width:40%;
     height:100%;
      transition-duration: 0.5s;
     position: fixed ;
     left:-40%
}
.navbarActive{
    left:0;
      transition-duration: 0.5s;
}
.btnActiveState{
    background-color: rgb(21, 59, 104) !important;
    color: whitesmoke !important;
}